:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: #192029;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --timer-radius-sm: 145;
  --circle-width-height-sm: 300;
  --circle-x-y-sm: 150;

  --timer-radius-lg: 290;
  --circle-width-height-lg: 600;
  --circle-x-y-sm: 300;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  height: 100vh;
  position: relative;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 2em;
}

.main-container {
  flex: 70%;
}

.btn-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn-large {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: #5495f7;
  border: 2px solid #5495f7;
  font-size: 1.6em;
  color: black;
}

.btn-small {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #5495f7;
  border: 2px solid #5495f7;
  font-size: 1.6em;
  color: black;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view {
  max-width: 790px;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

@media screen and (max-width: 800px) {
  .view {
    max-width: 100%;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    margin: 1em;
  }
}

.btn-primary {
  background-color: #007bff;
  border: 1px solid white;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
}

.btn-danger {
  background-color: #dc3545;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
}

.btn-success {
  background-color: #5cb85c;
  border: 1px solid white;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
}

dialog {
  min-width: 250px;
  width: 100%;
  max-width: 500px;
  z-index: 2;
}

dialog {
  border-radius: 5px;
  border-width: 1px;
  transition: all 2s;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
dialog::backdrop {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.div-padding {
  padding: 15px;
}

.dlg-header {
  display: grid;
  grid-template-columns: 1fr 0fr;
  background-color: #419eff;
  padding: 4px;
}

.dlg-label {
  display: inline-block;
  text-align: left;
  width: 100%;
}

.dlg-input {
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
  font-size: 1rem;
}

.dlg-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: bottom;
}

.dlg-footer-btn {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.1;
  margin: 0.5em;
  width: 50%;
  justify-content: center;
  gap: 1em;
  align-items: center;
}

.cancel {
  background-color: #ff6574;
}

.save {
  background-color: #7ff37f;
}
